<h1>Sned a SMS</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= form_tag("/sms/send", method: "post") do %>
<!-- add form elements here -->
  <%= label_tag(:msg, "Send a message") %>
  <%= text_field_tag(:msg) %>
  <%= label_tag(:send, "To phone number") %>
  <%= text_field_tag(:send) %>
  <%= submit_tag("Send message") %>
<% end %>
