<head>
  <title>Send a SMS</title>
</head>
<h1>Send a SMS</h1>
<p>Send a custom text message to a phone number!</p>

<%= form_tag("/sms/send", method: "post") do %>
<!-- add form elements here -->
  <%= label_tag(:msg, "Send message") %>
  <%= text_field_tag(:msg) %>
  <%= label_tag(:receiving_number, "To phone number") %>
  <%= text_field_tag(:receiving_number) %>
  <%= submit_tag("Send message") %>
<% end %>
